.cta {
  padding: 3.5rem 4.5rem;
  text-align: center;

  &__book-now {
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }

  @include respond(bp-medium) {
    padding: 2.5rem 3rem;
  }
}
